body{
    font-family: sans-serif;
    color: #00c957;
    background-color: rgb(255, 240, 31);
}
input{
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    pointer-events: none;
    border-radius: 100px;
    border: 5px solid rgb(161, 209, 56);
}
button{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(99, 178, 248);
    color: white;
    font-size: 15px;
}
button:hover{
    font-size: 20px;
}
